{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.background-container {
    background-image: url('{% static "assets/OldYoungReading.png" %}');
    /* Additional background properties can be added here */
    background-size: cover;
    height: 100vh; /* Set the height of the container */
    opacity: 60%;
  }
</style>

<div class="background-container">
    <div class="responsive">


<div class="LogIn">
<form style="width:450px; height:375px; color: rgb(248, 244, 244); background-color: rgb(40, 37, 37);" class="form-container" method="POST" action="{% url 'login' %}">
  <h3>LogIn</h3>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn">Log In</button>
  </form>
</div>
</div>
</div>



{% endblock %}