
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .background-container {
      background-image: url('{% static "assets/OldYoungReading.png" %}');
      /* Additional background properties can be added here */
      background-size: cover;
      background-position: center;
      height: 100vh; /* Set the height of the container */
      opacity: 0.5;
    }

  h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(136, 8, 10);
    font-size: 90px;
  }
  </style>

  <div class="background-container">

<h1>Connecting Generations...</h1>
  </div>
{% endblock %}